.place {
  padding: 80px 100px 0;
  display: grid;
  grid-template-columns: minmax(1fr, 460px) 1fr;
  grid-template-rows: min-content min-content;
  gap: 48px 40px;
  grid-template-areas: 
    "title link"
    "image text "
}

.place:first-child {
  padding: 0 100px 0;
}